---
layout: default
---

<div id="welcome">
  <img src="/assets/images/logo.png">
</div>

<!-- Main -->
<div id="main">

  <!-- Thumbnail -->
  {% assign samples= site.posts | sample: 10 %}
  {% include grid.html posts=samples %}

  <section id="tags">
    
    {% capture tags %}
      {% for tag in site.tags %}
        {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}____
      {% endfor %}
    {% endcapture %}
    {% assign sortedtags = tags | split:'____' | sort %}
    
     
    <h1>Tag Cloud</h1>
    {% for tag in sortedtags reversed %}
      {% assign tagitems = tag | split: '#' %}
      <span class="site-tag">
         <a href="/tag/{{ tagitems[1] | slugify }}/" style="font-size: {{ tagitems[2] |  times: 4 | plus: 80  }}%">
             {{ tagitems[1] }} ({{ tagitems[2] }})
         </a>
     </span>
     {% endfor %}

    <!-- <ul id="tagscloud"> 
    {% for tag in sortedtags reversed %}
        {% assign tagitems = tag | split: '#' %}
        <li><a href="/tag/{{ tagitems[1] | downcase }}.html">{{ tagitems[1] }} ({{ tagitems[2] }})</a></li>
    {% endfor %}
  </ul> -->
  </section>

</div>
