<div class="inner split">
    <div>
        <section>
            {% assign image = site.pics.dirs.static | append: "/me.jpg" %}
            <img class="lazy" src="{{ site.pics.dirs.static }}/spinner.svg"  data-src="{{ image }}" data-srcset="" alt="me" {% imagesize image:props %} />
        </section>
    </div>
    <div>
        <section>
            <h2>{{ site.footer.headline }}</h2>
            <p>{{ site.footer.text }}</p>
        </section>
        <section>
            <h2>{{ site.footer.social_headline }}</h2>
            <ul class="icons">
            {% for link in site.social.buttons %}
                <li><a href="{{ link.url }}" target="_blank" rel="noopener noreferrer" >
                    <span class="label">{{ link.label }}</span>
                </a></li>
            {% endfor %}
            </ul>
        </section>
        <p class="copyright">{{ site.copyright.name }}</p>
    </div>
</div>