<div class="inner split">
    <div>
        <section>
            <img class="lazy" src="{{ site.static_images_folder }}/spinner.svg"  data-src="{{ site.static_images_folder }}/me.jpg" data-srcset="" />
        </section>
    </div>
    <div>
        <section>
            <h2>{{ site.footer.headline }}</h2>
            <p>{{ site.footer.text }}</p>
        </section>
        <section>
            <h2>{{ site.footer.social_headline }}</h2>
            <ul class="icons">
            {% for link in site.social %}
                <li><a href="{{ link.url }}" target="_blank" rel="noopener noreferrer" >
                    <span class="label">{{ link.label }}</span>
                </a></li>
            {% endfor %}
            </ul>
        </section>
        <p class="copyright">{{ site.copyright.name }}</p>
    </div>
</div>