    <footer id="about" class="panel">
        {% include about.html %}
    </footer>
    <footer id="contact" class="panel">
        <div class="inner">
            <div>
                <section>
                    <h2>{{ site.contact.headline }}</h2>
                    <form method="post" action="//formspree.io/{{ site.contact.formsphere.email }}" novalidate>
                        <div class="field half first">
                            <input type="text" name="name" required data-validation-required-message="{{ site.contact.name.warning }}" id="name" placeholder="{{ site.contact.name.text }}{{ .  | markdownify }}{{ end }}" />
                        </div>
                        <div class="field half">
                            <input type="email" name="email" required data-validation-required-message="{{ site.contact.email.warning }}" id="email" placeholder="{{ site.contact.email.text }}" />
                        </div>
                        <div class="field">
                            <textarea name="message" required data-validation-required-message="{{ site.contact.message.warning }}" id="message" rows="4" placeholder="{{ site.contact.message.text }}"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="{{ site.contact.buttonText }}" class="special" /></li>
                            <li><input type="reset" value="{{ site.contact.resetText }}" /></li>
                        </ul>
                    </form>
                </section>
            </div>
        </div>
    </footer>
