<section  id="gallery3" class="gallery-section">
  <div id="myModal" class="modal" style="display: flex;">
    <div id="miniatures" class="hide-on-small-screen">
        <div class="table" id="miniaturestable">
          {% for post in include.posts %}
            <div class="column item card">
              <img class="demo contain lazy"  src="{{ site.static_images_folder }}/spinner.svg"  
              
              data-src="{{ site.thumb_dir }}/{{ post.image }}" 
              data-srcset="{{ site.thumb_dir }}/{{ post.image }}" 
              srcset="{{ site.thumb_dir }}/{{ post.image }}"
              onclick="currentSlide( {{ forloop.index }} );" 
              alt="{{ post.title }} ({{ forloop.index }} / {{ include.posts.size }})" 
              >
            </div>
          {% endfor %}
        </div>
        
    </div>
    <div class="modal-content">
      <!-- <div class="overlay top left right flex flex-row flex-space-between">
        <div>
          <a class="button" onclick="plusSlides(-1)">&#10094;</a>
        </div>
        <h4 id="caption"></h4>
        <div>
          <a class="button" onclick="plusSlides(1)">&#10095;</a>
        </div>
      </div> -->
      
      <div class="overlay top left right down-to-middle shade-scrim-to-bottom flex flex-row flex-space-between">
        <div class="overlay top left right flex flex-row flex-space-between">          
          <h4 class="inverted-colors"><a class="inverted-colors" onclick="plusSlides(-1)" title="Previous"><img class="icon" src="{{ site.static_images_folder }}/left.svg"/></a></h4>
          <div class="flex flex-row">
            <h4 id="caption" class="inverted-colors">{{ forloop.index }} / {{ include.posts.size }}</h4>
            <h4 class="inverted-colors"><a class="" id="posturl" href="{{ post.url }}"><img class="icon inverted-colors" src="{{ site.static_images_folder }}/info.svg"/></a></h4>
          </div>
          <h4 class="inverted-colors"><a class="inverted-colors" onclick="plusSlides(1)" title="Next"><img class="icon" src="{{ site.static_images_folder }}/right.svg"/></a></h4>
      </div>
      </div>
      

      {% for post in include.posts %}
        <div class="mySlides" style="display: none;" src-data="{{ post.url }}" index="{{ forloop.index }}" of="{{ include.posts.size }}">  
            <img src="{{ site.static_images_folder }}/spinner.svg" class="lazy" 
            data-srcset="{{ site.thumb_dir }}/{{ post.image }} 342w,  {{ site.small_pics_dir }}/{{ post.image }} 600w, {{ site.large_pics_dir }}/{{ post.image }} 1200w" 
            srcset="{{ site.thumb_dir }}/{{ post.image }} 342w, {{ site.small_pics_dir }}/{{ post.image }} 600w, {{ site.large_pics_dir }}/{{ post.image }} 1200w"/> 
        </div>
      {% endfor %}
    </div>
  </div>
  <script>
    let slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function Position(obj){
      var currenttop = 0;
      if (obj.offsetParent){
        do{
          currenttop += obj.offsetTop;
        }while ((obj = obj.offsetParent));
        return [currenttop];
      }
    }
    
    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let miniatures = document.getElementsByClassName("card");
      let dots = document.getElementsByClassName("demo");
      let captionText = document.getElementById("caption");
      let urlElement = document.getElementById("posturl");
      let gallery = document.getElementById("myModal");

      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }

      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      let url = slides[slideIndex-1].getAttribute("src-data");
      
      // Scroll to make the full picture and its miniature visibles
      //gallery.scrollIntoView({behavior: "smooth" , block: "nearest", inline: "nearest"});
      window.scroll(0, Position(gallery));
      
      miniatures[slideIndex-1].scrollIntoView({behavior: "smooth", block: "nearest", inline: "nearest"});//, block: "end", inline: "nearest"});
      
      if (captionText)  captionText.innerHTML = dots[slideIndex-1].alt;
      if (urlElement) urlElement.setAttribute("href", url);
    }
    </script>
</section>
