<header id="header">
    {% assign current = page.url %}
    {% assign elements = current | split: "/" %}
    <script>
        var is_root = location.pathname == "/"; //Equals true if we're at the root
        function isTagPath(path)
        {
            return path.includes("/tag/");
        }
        function isPostPath(path){
            return path.includes("/posts/");
        }
        console.log("Location: " + location.pathname);
        console.log("Referrer: " + document.referrer);
    </script>
    <nav>
        <ul>
            <li>
                <h3>
                <a href="/">
                    {% assign favicon= site.pics.dirs.static | append: "/favicon.png" %}
                    <img class="logo" src="{{ favicon }}" alt="favicon" {% imagesize favicon:props %} />
                    <span class="text">{{ site.title }}</span>
                    <!-- {% if elements.size > 2  %}
                        <span class="material-symbols-outlined">home</span>
                    {% else %}
                        <span class="text">{{ site.title }}</span>
                    {% endif %} -->
                </a>
                </h3>
            </li>         

            
           
            <li>
                <h3>
                    <script>                        
                        if (isPostPath(location.pathname) && isTagPath(document.referrer) )
                                document.write('<a href="' + document.referrer + '" title="Previous"><img class="icon" src="{{ site.pics.dirs.static }}/up.svg"/></a>');
                    </script>
                </h3>
            </li>

        </ul>
    </nav>
    <nav>
		<ul>
		{% for link in site.data.nav.top %}
			<li>
                <h3>
                    <a href="{{ link.url }}">
                        <img class="icon" alt="icon" src="{{ site.pics.dirs.static }}/{{ link.icon }}.svg"/><span class="text">{{ link.label }}</span>
                    </a>
                </h3>
			</li>
		{% endfor %}
		</ul>
	</nav>
</header>
