
$thumb-height: 200px;


// Theme 1

$text-color: #a0a0a1 !default;
$strong-text-color: #ffffff;
$dark-bg-color: #242629;
$bg-color: #34363b;
$bg-color2: #686C76;
$light-bg-color: #7293a0;
$link-button-color: #505051;
$border-color: #36383c;
$alternative-color: #1594b2;

// Inputs
$placeholder-color: #707071;
$button-bg: #90aab5;
$button-active-bg: #5a7985;
$hover-color: #15a5c7;
$input-color: #7293a0;


// Theme 2 
$text-color: #2e2e2e;
$strong-text-color: #1d1d1d;
$inverted-text-color: #90aab5;
$dark-bg-color: #DDDCD5;
$bg-color: #FFFFFF;
$bg-color2: #f5f5f7;
$light-bg-color: #7293a0;
$link-button-color: #505051;
$border-color: #36383c;
$alternative-color: #022f40;

// Inputs
$placeholder-color: #707071;
$button-bg: #90aab5;
$button-active-bg: #5a7985;
$hover-color: #15a5c7;
$input-color: #7293a0;


//  Theme 3
// Forest: #11201e | Teal: #154042 | Mint: #d5e9dd | Pink: #decec8 | Cloud: #d4d6d5

$text-color: #11201e;
$strong-text-color: #154042;
$inverted-text-color: #fcd0c1;
$dark-bg-color: #d4d6d5;
$bg-color: #FFFFFF;
$bg-color2: #f5f5f7;
$light-bg-color: #7293a0;
$link-button-color: #0f8ba8;
$border-color: #0f8ba8;
$alternative-color: #154042;

// Inputs
$placeholder-color: #d5e9dd;
$button-bg: #d5e9dd;
$button-active-bg: #154042;
$hover-color: #154042;
$input-color: #d4d6d5;
// Calculate it here https://codepen.io/sosuke/pen/Pjoqqp and add 
// brightness(0) saturate(100%) to the beginnging
$svg-filter: brightness(0) saturate(100%) invert(44%) sepia(68%) saturate(635%) hue-rotate(145deg) brightness(87%) contrast(90%);

