

$text-color: #a0a0a1 !default;
$strong-text-color: #ffffff;
$dark-bg-color: #242629;
$bg-color: #34363b;
$bg-color2: #686C76;
$light-bg-color: #7293a0;
$link-button-color: #505051;
$border-color: #36383c;
$alternative-color: #1594b2;

// Inputs
$placeholder-color: #707071;
$button-bg: #90aab5;
$button-active-bg: #5a7985;
$hover-color: #15a5c7;
$input-color: #7293a0;



$text-color: #434442 !default;
$strong-text-color: #414140;
$inverted-text-color: #90aab5;
$dark-bg-color: #242629;
$bg-color: #DDDCD5;
$bg-color2: #DDDCD5;
$light-bg-color: #7293a0;
$link-button-color: #505051;
$border-color: #36383c;
$alternative-color: #1594b2;

// Inputs
$placeholder-color: #707071;
$button-bg: #90aab5;
$button-active-bg: #5a7985;
$hover-color: #15a5c7;
$input-color: #7293a0;


