---
---

@import "theme";

* {
	box-sizing: border-box;
}

blockquote,
q {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: $text-color;
  padding: 1.5em 0 0.5em;
  margin: 1em 0;
  position: relative;
  /* font-family: 'Old Standard TT', serif; */
  text-align: left;

  &:before {
    content: "\201C";
    position: absolute;
    top: -.4em;
    left: -.2em;    
    font-family: Georgia, serif;
    font-size: 9em;
    font-weight: 700;
    opacity: .4;
    text-shadow: none;
    // z-index: -300;
    color: $inverted-text-color;
  }

  &:after {
    content: "– " attr(author);
    display: block;
    text-align: right;
    font-size: 0.875em;
    color: $inverted-text-color;
  }
}


.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	
	li {
		display: inline-block;
		margin: 10px 5px 0 5px;
		vertical-align: top;
		max-height: $thumb-height;
		padding-left: unset;
	}

}

@media screen and (max-width: 980px) {
	
	.og-grid li {
		// max-height: unset;
		max-width: 90%;
		// padding-left: unset;
	}	
}


.og-grid li > article > a,
.og-grid li > article > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
	width: 100%;
	max-height: $thumb-height;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		top: 50%;
		height: 1px;
		background: #888;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	&::after {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	&:hover::before,
	&:hover::after {
		background: #333;
	}

}

.og-fullimg,
.og-details {
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}



.og-fullimg {
	width: 60%;
	text-align: center;
	img {
		display: inline-block;
		max-height: 100%;
		max-width: 100%;
	}
}

.og-details {
	width: 40%;
	padding: 0 40px 0 20px;
	color: #555;


	h3 {
		font-weight: 300;
		font-size: 40px;
		padding: 30px 0 10px;
		margin-bottom: 10px;
		color: black;
	}

	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		padding-bottom: 1em;
	}

	a {
		font-weight: 700;
		font-size: 16px;
		color: #333;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding: 10px 20px;
		border: 3px solid #333;
		display: inline-block;
		margin: 30px 0 0;
		outline: none;
		
		&::before {
			content: '\2192';
			display: inline-block;
			margin-right: 10px;
		}

		&:hover {
			border-color: #999;
			color: #999;
		}
	}
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

.stamp {
	color: #555;
	font-size: 1em;
	font-weight: 700;
	border: 0.5rem double #555;
	display: inline-block;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	border-radius: 1rem;
}


@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.stamp { font-size: 0.8em; border: 0.3rem double #555; }
	.og-expander-inner { padding: 30px; }
	.og-expander h3 { font-size: 30px; padding: 10px 0px; }
	.og-expander p, ul.exif { font-size: 13px; }
	.og-expander a { font-size: 12px; }
	
}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}


.overlay {
	position: absolute;
	z-index: 100;
	transition: .3s ease;
	background-color: #000c;
	width: 100%;

	&.top {
	  top: 0;
	}
	&.right {
	  right: 0;
	}
	&.bottom {
	  bottom: 0;
	}
	&.left {
	  left:0;
	}
	&.center {
	  left: 50%;
	  transform: translate(0%, -50%);
	  -ms-transform: translate(0%, -50%);
	}
  
	&.middle {
	  top: 50%;
	  transform: translate(0%, -50%);
	  -ms-transform: translate(0%, -50%);
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		z-index: 1;
		color: $inverted-text-color;
		padding: 10px 0 10px 0;
	}
	// h3 {
	// 	font-size: 0.8rem;
	// }
  }



.gallery-section {
	padding-top: unset;
}


/* Hide the slides by default */
#singleImagePage {
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	justify-content: center;
	width: 100vw;
	padding-top: 4em;
  
	.title {
	  padding: 1em;
	  
	}
  
	.material-symbols-outlined {
	  margin-right: 1em;
	}
  
	.img-description {
	  display: flex;
	  flex-flow: row nowrap;
	  justify-content: flex-end;
  
	  .img-title{
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between ;
		margin: 1em;
	  }
	  .exif{
		margin: 1em;
		border-left: solid 1px;
		padding: 0 0 0 1em;
	
		.title {
		  text-align: left;
		  padding: 0em 1em 2em 1.5em;
		}   
		ul {
		  // font-family: 'Roboto Mono', monospace;
		  list-style: none;
		  text-align: left;
		  margin: 0;
		}
	  }
  
	}
}
  
#gallery1 {
	$max-img-width: 900px;
	$max-img-height: 600px;

	img {
	max-width: 100%;
	vertical-align: top;
	max-height: $max-img-height;
	}

	.gallery {
		display: flex;
	  justify-content: center;
	  margin: 10px auto;
	  max-width: $max-img-width;
	  position: relative;
	  // padding-top: $max-img-height/$max-img-width * 100%;
  
	  // @media screen and (min-width: $max-img-width){
	  // 	padding-top: $max-img-height;
	  // }
	  
	  &__img {
		  position: absolute;
		  left: 0;
		  top: 10vh;
		  right: 0;
  
		  height: 70vh;
		  max-width: 100%;
		  
		  margin-bottom: auto;
		  margin-left: auto;
		  margin-right: auto;
		  opacity: 0;
		  z-index: 100;
		  transition: opacity 0.3s ease-in-out;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  
		  img {
			  flex-shrink: 0;
			  max-width: 100%;
			  max-height: 100%
		  }
  
		  .overlay {
			  position: absolute;
			  top: 0;
			  bottom: 0;
			  left: 0;
			  right: 0;
			  height: 100%;
			  width: 100%;
			  opacity: 0;
			  transition: .3s ease;
			  background-color: #000c;
			  
			  .button {
				  position: absolute;
				  top: 50%;
				  left: 50%;
				  transform: translate(-50%, -50%);
				  -ms-transform: translate(-50%, -50%);
				  
				  text-decoration: none;
  
				  .material-symbols-outlined {
					  margin-right: .5em;
				  }
			  }
		  }
		  
		  &:hover .overlay {
			  opacity: 1;
		  }
  
	  }
  
	  &__thumb {
	  padding-top: 6px;
	  margin: 6px;
	  display: block;
	  }
  
	  &__selector {
		  position: absolute;
		  opacity: 0;
		  visibility: hidden;
  
		  &:checked {
			  + .gallery__img {
			  opacity: 1;
			  z-index: 150;
			  }
			  ~ .gallery__thumb > img {
			  box-shadow: 0 0 0 3px $alternative-color;
			  }
		  }
	  }
  }
  
}


#gallery2 {
	$thumbs-height: 150px;
	$caption-height: 50px;
	$mainpicture-height: calc(90vh - 350px);
	* {
		box-sizing: border-box;
	  }
	  
	  /* Position the image container (needed to position the left and right arrows) */
	  .container {
		position: relative;
		display: flex;
		flex-flow: column;
		height: calc(90vh - 150px);
	  }
	  
	  /* Hide the images by default */
	  .mySlides {
		display: none;
		img {
			max-height: $mainpicture-height;
			width: auto;
			object-fit: contain;
		}
	  }
	  
	  /* Add a pointer when hovering over the thumbnail images */
	  .cursor {
		cursor: pointer;
	  }
	  
	  /* Next & previous buttons */
	  .prev,
	  .next {
		cursor: pointer;
		// position: absolute;
		// top: 40%;
		width: auto;
		// padding: 16px;
		// margin-top: -50px;
		// color: white;
		// font-weight: bold;
		// font-size: 1em;
		// border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
	  }
	  
	  /* Position the "next button" to the right */
	  .next {
		// right: 0;
		border-radius: 3px 0 0 3px;
	  }
	  
	  /* On hover, add a black background color with a little bit see-through */
	  .prev:hover,
	  .next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	  }
	  
	  /* Number text (1/3 etc) */
	  .top-overlay {
		color: #f2f2f2;
		// font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: #000C;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	  }
	  
	  /* Container for image text */
	  .caption-container {
		text-align: center;
		background-color: #222;
		padding: 2px 16px;
		color: white;
		height: $caption-height;
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
	  }
	  
	  .row{
		height: 150px;
		overflow: auto;
		white-space: nowrap;

		// &:after {
		// 	content: "";
		// 	display: table;
		// 	clear: both;
		// }
		}
	  
	  /* Six columns side by side */
	  .column {
		// float: left;
		display: inline-block;
		// width: 16.66%;
		img{
			height: $thumbs-height;
			width:auto;
		}
	  }
	  
	  /* Add a transparency effect for thumnbail images */
	  .demo {
		opacity: 0.6;
	  }
	  
	  .active,
	  .demo:hover {
		opacity: 1;
	  }
}

#gallery3 {
	.modal {
		// display: none;
		//position: absolute;
		z-index: 1;
		// left: 0;
		// top: 0;
		width: 100%;
		height: calc(100vh - 4em);
		overflow-y: auto ;
		overflow-x: hidden;
		// background-color: $dark-bg-color; 
		flex-flow: column;
		flex-basis: content;
		justify-content: flex-start;
	}
	  
	  /* Modal Content */
	  .modal-content {
		position: relative;
		/* background-color: $text-color; */
		// margin: auto;
		padding: 0;
		/* width: 90%;
		max-width: 1200px; */
		flex-grow: 2;
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
	  
	  
	}
	  
	  
	  
	  
	  /* Hide the slides by default */
	  .mySlides {
		display: none;
		text-align: center;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-end;
		justify-content: center;
		padding: 0.1em;

		.img-container {
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		
	  
			img {
			// max-height: calc(75vh - 4em );
			max-height: calc(100vh - 6em - 110px);
			// width: 100%;
			}
		}
	}
}


@media screen and (min-width: 979px) {
	.table {
	  display: flex;
	  border-collapse: collapse;
	  width: 100%;
	  // -webkit-overflow-scrolling: touch; 
	  flex-wrap: nowrap;
	  overflow-x: hidden;
	  scroll-behavior: smooth;
	
	  .item {
		flex: 1;
		flex-grow: 1;
		img {
		  display: block;
		  width: auto;
		  max-height: 10vh;
		}
	  }
  
	  .card {
		flex: 0 0 auto;
	  } 
	}
  }
  

@media screen and (max-width: 980px) {
  
	.hide-on-small-screen {
	  display: none;
	}
  
	#album-header {
	  max-width: 80%;
	}
  
	.row > .column > img{
	  max-height: 15vh;
	}
  
	#ltb-container {
	  width: 100%;
	}
  
	.mySlides {
	  flex-flow: column;
	  align-items: center;
	  justify-content: flex-start;
	}
  
	.exif {
	  padding: 2em 0 2em 0;
	  width: 100%;
	  align-self: stretch;
	  /* background-color: #f3f5f6;
	  color: #444444; */
	  i {
		margin-right: 1em;
	  }
	}
	
	.mySlides img {
	  max-height: calc(100vh - 4em - 60px);
	  max-width: 100%;
	  object-fit: contain;
	}
  }
  
  @media (max-aspect-ratio: 5/8) {
	.row > .column > img{
	  max-height: 10vh;
	}
  }
  @media (min-aspect-ratio: 5/8) {
	.row > .column > img{
	  max-height: 15vh;
	}
  }