---
---

@import "theme";

* {
	box-sizing: border-box;
}

blockquote,
q {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: $text-color;
  padding: 1.5em 0 0.5em;
  margin: 1em 0;
  position: relative;
  /* font-family: 'Old Standard TT', serif; */
  text-align: left;

  &:before {
    content: "\201C";
    position: absolute;
    top: -.4em;
    left: -.2em;    
    font-family: Georgia, serif;
    font-size: 9em;
    font-weight: 700;
    opacity: .4;
    text-shadow: none;
    // z-index: -300;
    color: $strong-text-color;
  }

  &:after {
    content: "– " attr(author);
    display: block;
    text-align: right;
    font-size: 0.875em;
    color: $strong-text-color;
  }
}


.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	
	li {
		display: inline-block;
		margin: 10px 5px 0 5px;
		vertical-align: top;
		max-height: $thumb-height;
		padding-left: unset;
	}

}

@media screen and (max-width: 980px) {
	
	.og-grid li {
		// max-height: unset;
		max-width: 90%;
		// padding-left: unset;
	}	
}


.og-grid li > article > a,
.og-grid li > article > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
	width: 100%;
	max-height: $thumb-height;
}
.gallery-section {
	padding-top: unset;
}


/* Hide the slides by default */
#singleImagePage {
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	justify-content: center;
	width: 100%;

	// padding-top: 4em;
  
	.title {
	  padding: 1em;
	}

	img.single-page-image {
		max-height: 70vh;
		width: auto;
	}
  
	.material-symbols-outlined {
	  margin-right: 1em;
	}
  
	.img-description {
	  display: flex;
	  flex-flow: row nowrap;
	  justify-content: flex-end;

	  h4, h5 {
		text-transform: none;
		a {
			color: $link-button-color;
		}
	  }
  
	  .img-title{
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between ;
		margin: 1em;
	  }
	  .exif{
		margin: 1em;
		border-left: solid 1px;
		padding: 0 0 0 1em;
	
		.title {
		  text-align: left;
		  padding: 0em 1em 2em 1.5em;
		}   
		ul {
		  // font-family: 'Roboto Mono', monospace;
		  list-style: none;
		  text-align: left;
		  margin: 0;
		  font-size: 1rem;
		  li {
			margin-top: 0.25rem;
		  }
		}
	  }
  
	}
}
 
#gallery3 {
	.modal {
		// display: none;
		//position: absolute;
		z-index: 1;
		// left: 0;
		// top: 0;
		width: 100%;
		// height: calc(100vh - 4em);
		overflow-y: auto ;
		overflow-x: hidden;
		// background-color: $dark-bg-color; 
		flex-flow: column;
		flex-basis: content;
		justify-content: flex-start;
	}
	  
	  /* Modal Content */
	  .modal-content {
		position: relative;
		/* background-color: $text-color; */
		// margin: auto;
		padding: 0;
		/* width: 90%;
		max-width: 1200px; */
		flex-grow: 2;
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
	  
	  
	}
	  
	  
	  
	  
	  /* Hide the slides by default */
	  .mySlides {
		display: none;
		text-align: center;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-end;
		justify-content: center;
		padding: 0.1em;

		img {
			// max-height: calc(75vh - 4em );
			max-height: calc(100vh - 4rem - 110px);
			// width: 100%;
			max-width: 100%;
			//max-height: 70vh;
			}
	}
}


@media screen and (min-width: 979px) {
	.table {
	  display: flex;
	  border-collapse: collapse;
	  width: 100%;
	  // -webkit-overflow-scrolling: touch; 
	  flex-wrap: nowrap;
	  overflow-x: hidden;
	  scroll-behavior: smooth;
	
	  .item {
		flex: 1;
		flex-grow: 1;
		img {
		  display: block;
		  width: auto;
		  max-height: 10vh;
		}
	  }
  
	  .card {
		flex: 0 0 auto;
	  } 
	}
  }
  

@media screen and (max-width: 980px) {
  
	.hide-on-small-screen {
	  display: none;
	}
  
	#album-header {
	  max-width: 80%;
	}
  
	.row > .column > img{
	  max-height: 15vh;
	}
  
	#ltb-container {
	  width: 100%;
	}
  
	.mySlides {
	  flex-flow: column;
	  align-items: center;
	  justify-content: flex-start;
	}
  
	.exif {
	  padding: 2em 0 2em 0;
	  width: 100%;
	  align-self: stretch;
	  /* background-color: #f3f5f6;
	  color: #444444; */
	  i {
		margin-right: 1em;
	  }
	}
	
	.mySlides img {
	  max-height: calc(100vh - 4em - 60px);
	  max-width: 100%;
	  object-fit: contain;
	}
  }
  
  @media (max-aspect-ratio: 5/8) {
	.row > .column > img{
	  max-height: 10vh;
	}
  }
  @media (min-aspect-ratio: 5/8) {
	.row > .column > img{
	  max-height: 15vh;
	}
  }