---
---


@import "theme";

h1 {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
}

blockquote,
q {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: $text-color;
  padding: 1.5em 0 0.5em;
  margin: 1em 0;
  position: relative;
  /* font-family: 'Old Standard TT', serif; */
  text-align: left;

  &:before {
    content: "\201C";
    position: absolute;
    top: -.4em;
    left: -.2em;    
    font-family: Georgia, serif;
    font-size: 9em;
    font-weight: 700;
    opacity: .2;
    text-shadow: none;
    z-index: -300;
    color: $input-color;
  }

  &:after {
    content: "– " attr(author);
    display: block;
    text-align: right;
    font-size: 0.875em;
    color: $input-color;
  }
}


.row {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  .column {
    padding: 8px 8px;
    img{
    max-height: 20vh;
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
}

/* The Modal (background) */
.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vh - 4em);
  overflow-y: auto ;
  overflow-x: hidden;
  background-color: $dark-bg-color; 
  flex-flow: column;
  flex-basis: content;
  justify-content: flex-start;
}

/* Modal Content */
.modal-content {
  position: relative;
  /* background-color: $text-color; */
  margin: auto;
  padding: 0;
  /* width: 90%;
  max-width: 1200px; */
  flex-grow: 2;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;


}




/* Hide the slides by default */
.mySlides {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  padding: 1em;

  .title {
    padding: 1em;
  }

  .exif{
    margin: 1em;
    border-left: solid 1px;
    padding: 0 0 0 1em;

    
    i {
      margin-right: 1em;
    }
    
    ul {
      // font-family: 'Roboto Mono', monospace;
      list-style: none;
      text-align: left;
      margin: 0;
      
      

    }
  }

  img {
    // max-height: calc(75vh - 4em );
    max-height: calc(100vh - 6em - 110px);
    max-width: 100%;
  }
}

/* Next & previous buttons */
.fabutton {
  cursor: pointer;
  /* position: absolute; */
  /* top: 10px; */
  // width: 3em;
  // height: 3em;
  padding: .25em .5em;
  color: $text-color;
  background-color: rgba($dark-bg-color, 0.4);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  -webkit-user-select: none;
  z-index: 1100;

  &:hover,
  &:focus {
    background-color: rgba($dark-bg-color, 1);
    color: $hover-color;
  }
}

#miniatures {
  width: 100vw;
  height: 250px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;


}

img.demo {
  opacity: 0.6;
  transition: 0.3s;
}

.active,
.demo:hover {
  opacity: 1;
}

.demo:hover {
  z-index: 1000;
}


img.hover-shadow {
  transition: 0.3s;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  }
}

@media screen and (min-width: 979px) {
  .table {
    display: flex;
    border-collapse: collapse;
    width: 100%;
    // -webkit-overflow-scrolling: touch; 
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;
  
    .item {
      flex: 1;
      flex-grow: 1;
      img {
        display: block;
        width: auto;
        max-height: 10vh;
      }
    }

    .card {
      flex: 0 0 auto;
    } 
  }
}

@media screen and (max-width: 980px) {
  
  #miniatures {
    display: none;
  }

  #album-header {
    max-width: 80%;
  }

  .row > .column > img{
    max-height: 15vh;
  }

  #ltb-container {
    width: 100%;
  }

  .mySlides {
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }

  .exif {
    padding: 2em 0 2em 0;
    width: 100%;
    align-self: stretch;
    /* background-color: #f3f5f6;
    color: #444444; */
    i {
      margin-right: 1em;
    }
  }
  
  .mySlides img {
    max-height: calc(100vh - 4em - 60px);
    max-width: 100%;
    object-fit: contain;
  }
}

@media (max-aspect-ratio: 5/8) {
  .row > .column > img{
    max-height: 10vh;
  }
}
@media (min-aspect-ratio: 5/8) {
  .row > .column > img{
    max-height: 15vh;
  }
}


/* The overlay effect (full height and width) - lays on top of the container and over the image */
.img-container {
  position: relative;
  width: 100%;
  // height: 100%;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  
}
.overlay {
  position: absolute;
  background-color: rgba(36, 38, 41, 0.4);
  

  &.top {
    top: 0;
  }
  &.right {
    right: 0;
  }
  &.bottom {
    bottom: 0;
  }
  &.left {
    left:0;
  }
  &.center {
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
  }
  &.middle {
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
  }
  &.fullwidth {
    width: 100%;
  }
}

#urlInput {
  position: absolute;
  top: -300px;
}
