---
layout: default
---
   
<div id="main">
    <section class="mySlides">
        <div class="img-container">
            <img src="{{ site.large_pics_dir }}/{{  page.image }}" class="" 
            data-src="{{ site.large_pics_dir }}/{{  page.image }}" 
            data-srcset="{{ site.thumb_dir }}/{{  page.image }} 338w, {{ site.small_pics_dir }}/{{  page.image }} 600w, {{ site.large_pics_dir }}/{{  page.image }} 1200w" 
            srcset="{{ site.thumb_dir }}/{{  page.image }} 338w, {{ site.small_pics_dir }}/{{  page.image }} 600w, {{ site.large_pics_dir }}/{{  page.image }} 1200w">
            
            {% if false %}
            <div class="overlay top right">
                <div class="fabutton cursor" onclick="closeModal()"><i class="fa fa-times-circle"></i></div>
            </div>
            <div class="overlay middle left">
                
                <a class="icon fabutton" onclick="plusSlides(-1)"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            </div>
            <div class="overlay middle right">
                <a class="icon fabutton" onclick="plusSlides(1)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div> 
            <div class="overlay top center fullwidth">
                <div class="title"><h3>{{ page.title }}</h3></div>
            </div>
            <div class="overlay bottom right">
                
                <a href="#" onclick="copyToClipboard('{{ page.url | relative_url }}');" class="icon fabutton" title="Click to copy a sharable link to this picture">
                    <i class="fa fa-link"></i>
                </a>
                <a href="{{ site.gallery_dir }}/{{  page.image }}" class="icon fabutton" target="_blank" title="Download in full resolution">
                    <i class="fa fa-download"></i>
                </a>
            </div>

            {% endif %}

        </div>
        <div class="img-description">
            <div class="img-title">
                <div class="title"><h3>{{ page.title }}</h3></div>
                <div><span class="material-symbols-outlined">loyalty</span>{{ page | tags }}</div>
            </div>
            <div class="exif">
                <ul>
                    <li><span class="material-symbols-outlined">photo_camera</span>{{ page.camera }}</li>
                    <li><span class="material-symbols-outlined">lens</span>{{ page.lens }}</li>
                    <li><span class="material-symbols-outlined">straighten</span>{{ page.focallength }} mm</li>
                    <li><span class="material-symbols-outlined">shutter_speed</span>{{ page.exposure }} s</li>
                    <li><span class="material-symbols-outlined">camera</span>f/{{ page.fstop }} </li>
                    <li><span class="material-symbols-outlined">camera_roll</span>iso {{ page.iso }}</li>
                    
                    <!-- <li><i class="fa fa-calendar fa-fw"></i>{{ page.date | date: "%B %Y" }}</li> -->
                    <li><span class="material-symbols-outlined">copyright</span>Copyright souissi.eu {{ page.date | date: "%B %Y" }}</li>
                    
                </ul>  
            </div>
        </div>
            
    </section>
    
</div>




