---
layout: default
---
   
<div id="main">
    <section id="singleImagePage">
        <div class="img-container">
            <img src="" class="lazy" 
            data-src="" 
            data-srcset="{{ site.thumb_dir }}/{{  page.image }} 338w, {{ site.small_pics_dir }}/{{  page.image }} 600w, {{ site.large_pics_dir }}/{{  page.image }} 1200w" 
            srcset="{{ site.thumb_dir }}/{{  page.image }} 338w, {{ site.small_pics_dir }}/{{  page.image }} 600w, {{ site.large_pics_dir }}/{{  page.image }} 1200w">
            <div class="overlay top bottom left only-on-hover button">
                <script>
                    document.write('<a href="' + document.referrer + '" title="Previous">&#10094;</a>');
                </script>
            </div>
        </div>
        <div class="img-description">
            <div class="img-title">
                <div class="title"><h3>{{ page.title }}</h3></div>
                <div><span class="material-symbols-outlined">loyalty</span>{{ page | tags }}</div>
            </div>
            <div class="exif">
                <ul>
                    <li><span class="material-symbols-outlined">photo_camera</span>{{ page.camera }}</li>
                    <li><span class="material-symbols-outlined">lens</span>{{ page.lens }}</li>
                    <li><span class="material-symbols-outlined">straighten</span>{{ page.focallength }} mm</li>
                    <li><span class="material-symbols-outlined">shutter_speed</span>{{ page.exposure }} s</li>
                    <li><span class="material-symbols-outlined">camera</span>f/{{ page.fstop }} </li>
                    <li><span class="material-symbols-outlined">camera_roll</span>iso {{ page.iso }}</li>
                    
                    <!-- <li><i class="fa fa-calendar fa-fw"></i>{{ page.date | date: "%B %Y" }}</li> -->
                    <li><span class="material-symbols-outlined">copyright</span>Copyright souissi.eu {{ page.date | date: "%B %Y" }}</li>
                    
                </ul>  
            </div>
        </div>
            
    </section>
    
</div>




